fastapi==0.115.12
uvicorn[standard]
requests
sqlmodel # sqlite mysql postgres
psycopg[binary]
langgraph
langgraph-supervisor
langchain
langchain-openai
langchain-google-genai
langchain-core
langsmith  # For langgraph